


    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <!-- NOMBRE DEL HOTEL -->
        <div class="row mapsfilter">
            <div class="searchmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.292936713833!2d-58.43687044958684!3d-34.59675336453996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca741ef29679%3A0x119fe65a980df2a2!2sLoyola+427%2C+C1414AUI+CABA!5e0!3m2!1ses-419!2sar!4v1532709884421" width="300" height="100" frameborder="0" style="border:0" ></iframe>
                <p class="map">Ver Hoteles en el mapa</p>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-3 title"> 
                <h4>Filtrar</h4>
            </div>
        </div>

        <!-- NOMBRE DEL HOTEL -->
        <div class="row filters">
            <div class="search">
                <uib-accordion>
                    <div uib-accordion-group is-open="status.isFirstOpen">
                        <uib-accordion-heading>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 hotelfilter">
                                    <span class="glyphicon glyphicon-search icons"></span><p class="filtertitle">Nombre del hotel</p>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <i class="pull-right glyphicon arrow" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-up': !status.isFirstOpen}"></i>
                            </div>
                        </uib-accordion-heading>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 inputfilter">
                            <input type="email" class="form-control input" ng-model="searchotel" placeholder="ingrese el nombre de un hotel">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 buttoncont">
                            <button class="filterbtn" ng-click="buscar()">Aceptar</button>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>


        <!-- RANGO DE PRECIO -->
        <div class="row range">
            <div class="search">
                <uib-accordion>
                    <div uib-accordion-group is-open="status.isFirstOpen">
                        <uib-accordion-heading>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 hotelfilter">
                                    <span class="glyphicon glyphicon-search icons"></span><p class="filtertitle">Precio por noche</p>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <i class="pull-right glyphicon arrow" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-up': !status.isFirstOpen}"></i>
                            </div>
                        </uib-accordion-heading>
                        <div class="slider-wrapper slider-danger slider-strips">
                            <input class="input-range" type="text" data-slider-step="1" data-slider-value="14, 75" data-slider-min="0" data-slider-max="100" data-slider-range="true" data-slider-tooltip_split="true"/>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>


        <!-- ESTRELLAS -->
        <div class="row filters">
            <div class="search">
                <uib-accordion>
                    <div uib-accordion-group is-open="status.isFirstOpen">
                        <uib-accordion-heading>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 hotelfilter">
                                    <span class="glyphicon glyphicon-search icons"></span><p class="filtertitle">Estrellas</p>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <i class="pull-right glyphicon arrow" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-up': !status.isFirstOpen}"></i>
                            </div>
                        </uib-accordion-heading>
                        <ul class="startslist">
                            <li><input type="checkbox" name="allstarts" class="stylelist" checked><strong>Todas las estrellas <span class="count">(999)</span></strong></li>
                            <li>
                                <input type="checkbox" name="5" class="stylelist"> 
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <p class="count">(999)</p>
                            </li>
                            <li>
                                <input type="checkbox" name="4" class="stylelist">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <p class="count">(999)</p>
                            </li>
                            <li>
                                <input type="checkbox" name="3" class="stylelist">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <p class="count">(999)</p>
                            </li>
                            <li>
                                <input type="checkbox" name="2" class="stylelist">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <p class="count">(999)</p>
                            </li>
                            <li>
                                <input type="checkbox" name="2" class="stylelist">
                                <img ng-src="img/estrella.png" width="16px" height="16px">
                                <p class="count">(999)</p>
                            </li>
                        </ul>
                    </div>
                </uib-accordion>
            </div>
        </div>



