

<div class="row" style="margin-top: 40px;">
    <h2>Productos</h2>
    <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="margin-bottom: 17px;">
        <input type="text" class="form-control" ng-model="$ctrl.buscar" placeholder="Buscar figura">
    </div>
    <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.nuevoProducto()">Agregar nuevo producto</button>
    </div>
   <hr>
    <div class="col-md-12 col-lg-12  table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a href="">Nombre</a>
                    </th>
                    <th><a href="" ng-click="$ctrl.ordenarPor(art.price)"> Precio</a>
                  </th>
                    <th>Marca</th>
                    <th>Estado</th>
                    <th>Imágenes</th>
                    <th>&#32;</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="art in $ctrl.articles | filter: $ctrl.buscar ">
                    <td><strong>{{art.name | uppercase}}</strong></td>
                    <td>{{art.price | currency}}</td>
                    <td>{{art.brand | uppercase}}</td>
                    <td>{{art.condition | uppercase}}</td>
                    <td>
                        <a href="{{art.productImage}}" target="_blank" >
                           <img alt="Thumbnail [100x100]" style="width: 100px; height: 100px;" src="{{art.productImage}}" class="img-rounded">
                        </a>
                         <a href="{{art.productImage1}}" target="_blank">
                           <img alt="Thumbnail [100x100]" style="width: 100px; height: 100px;"src="{{art.productImage1}}" class="img-rounded">
                        </a>
                        <a href="{{art.productImage2}}" target="_blank">
                           <img alt="Thumbnail [100x100]" style="width: 100px; height: 100px;" src="{{art.productImage2}}" class="img-rounded">
                        </a> 
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" ng-click="$ctrl.editArticle(art)"> Editar </button>  
                        <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteArticle(art)">Eliminar</button><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>